$black0: #707b8d;
$black1: #616d81;
$black2: #525f75;
$black3: #47556c;
$black4: #3d4b64;
$black5: #293954;
$black6: #1f304c;
$black7: #0f213f;
$black8: #001333;

$grey0: #fcfcfd;
$grey1: #f9fafb;
$grey2: #f0f1f3;
$grey3: #e0e2e6;
$grey4: #c9cdd4;
$grey5: #b3b9c2;
$grey6: #a3aab5;
$grey7: #8f97a5;
$grey8: #858e9d;

$blue0: #f3f9ff;
$blue1: #edf5ff;
$blue2: #cfe6ff;
$blue3: #9bcbff;
$blue4: #63aeff;
$blue5: #2c91ff;
$blue6: #0071ec;
$blue7: #0064d0;
$blue8: #0050a7;

$green0: #e9fdf4;
$green1: #cbf8e4;
$green2: #a4f1cf;
$green3: #72deae;
$green4: #56d19b;
$green5: #39cb8a;
$green6: #1ab16d;
$green7: #00874b;
$green8: #005d33;

$red0: #fff6f6;
$red1: #fde2e2;
$red2: #fbc1c1;
$red3: #f79595;
$red4: #e97272;
$red5: #d85151;
$red6: #c83838;
$red7: #b71f1f;
$red8: #940303;

$yellow0: #fffaf0;
$yellow1: #fff3de;
$yellow2: #ffe9c3;
$yellow3: #ffdda2;
$yellow4: #ffd07e;
$yellow5: #ffc257;
$yellow6: #ffad1f;
$yellow7: #e29000;
$yellow8: #b97600;

$pink0: #feeef5;
$pink1: #fcdeeb;
$pink2: #ffb5d5;
$pink3: #f992c0;
$pink4: #fa73b0;
$pink5: #ee5599;
$pink6: #d84084;
$pink7: #c02068;
$pink8: #a00c4e;

$purple0: #f6f4ff;
$purple1: #eae6ff;
$purple2: #cdc4f8;
$purple3: #b4a8f2;
$purple4: #a292f2;
$purple5: #8c7be6;
$purple6: #7865dc;
$purple7: #5243aa;
$purple8: #403294;

$cyan0: #f6feff;
$cyan1: #e6fcff;
$cyan2: #aaf4ff;
$cyan3: #78e9fb;
$cyan4: #37cee5;
$cyan5: #00b8d9;
$cyan6: #00a3bf;
$cyan7: #008da6;
$cyan8: #007a90;

$brown0: #fff9f7;
$brown1: #f8eeeb;
$brown2: #dbc6bf;
$brown3: #c4a59b;
$brown4: #a58276;
$brown5: #83655a;
$brown6: #664a40;
$brown7: #4e342e;
$brown8: #3e2723;

$olive0: #fffef5;
$olive1: #faf8e2;
$olive2: #e9e4b9;
$olive3: #dbd492;
$olive4: #cec471;
$olive5: #b9af53;
$olive6: #a09536;
$olive7: #7d721a;
$olive8: #645a04;

$saffron0: #fdf3ef;
$saffron1: #ffeae0;
$saffron2: #fbc4aa;
$saffron3: #f3a27d;
$saffron4: #ee8250;
$saffron5: #da622a;
$saffron6: #ce4b0e;
$saffron7: #b93e05;
$saffron8: #983000;

$orchid0: #fbf3fe;
$orchid1: #f5e4fc;
$orchid2: #e2b3f6;
$orchid3: #cc8be9;
$orchid4: #c47ae5;
$orchid5: #b65ddd;
$orchid6: #a342cd;
$orchid7: #7b20a2;
$orchid8: #5f148e;

$indigo0: #f7f8ff;
$indigo1: #eaecff;
$indigo2: #bdc4f8;
$indigo3: #919be5;
$indigo4: #717edb;
$indigo5: #5462c2;
$indigo6: #3b48aa;
$indigo7: #283592;
$indigo8: #0d1a75;

$white: #ffffff;
$androidGreen: #a4c639;

$text-dark: $black7;
$text-medium: $black3;
$text-light: $grey8;
$text-extralight: $grey6;
$text-red: $red7;
$text-negative: $red7;
$text-blue: $blue7;
$text-green: $green7;
$text-positive: $green7;
$text-yellow: $yellow7;
$text-disabled: $grey6;
$text-white: $white;
$text-link: $blue7;
$text-androidGreen: $androidGreen;
$text-synaptic: #24e1c7;

$button-primary: #1544ff;
$button-primary-hover: #0029CD;

$torqoise: #00ffe1;
