// Font Sizes
$fontSizes-0: 9px;
$fontSizes-1: 11px;
$fontSizes-2: 13px;
$fontSizes-3: 15px;
$fontSizes-4: 18px;
$fontSizes-5: 20px;
$fontSizes-6: 24px;

$size0: 0;
$size1: 4px;
$size2: 8px;
$size2-5: 10px;
$size3: 12px;
$size4: 16px;
$size5: 20px;
$size6: 24px;
$size7: 28px;
$size8: 32px;
$size9: 36px;
$size10: 40px;
$size11: 44px;
$size12: 48px;

$border-radius: 3px;

$fontWeight-normal: 400; // 1-normal
$fontWeight-medium: 500; // 2-medium
$fontWeight-semibold: 600; // 3-semibold
$fontWeight-bold: 700; // 4-bold
