@mixin xs {
  @media (max-width: 384px) {
    @content;
  }
}

@mixin sm {
  @media (max-width: 640px) {
    @content;
  }
}

@mixin md {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin lg {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin xl {
  @media (max-width: 1280px) {
    @content;
  }
}

@mixin xxl {
  @media (max-width: 1526px) {
    @content;
  }
}

@mixin size($size) {
  width: $size;
  height: $size;
}

@mixin category($name, $color) {
  .#{$name} a::before {
    background-color: $color !important;
  }
}


.resource-card {
  margin-right: 48px;
  cursor: pointer;

  @include xl {
    margin-right: 0px;
  }

  &:hover {
    // transform: scale(102%);
  }

  @include xl {
    &:hover {
      transform: none;
    }
  }

  .img-container {
    border-radius: 16px;
    height: 200px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
      border-radius: 16px;
    }
  }

  &.rest-item {
    .action-button {
      padding: 0px;
      border: 0px none;
    }
  }
  
  .info-container {
    flex: 1;
    padding-top:48px;
    justify-content: start;

    @include xl {
      padding: 16px;
    }
  }

 
}