@font-face {
  font-family: "Sharp Grotesk Smbold 20";
  font-style: normal;
  font-weight: normal;
  src: url(/fonts/SharpGroteskSmBold20-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Sharp Grotesk Medium 20";
  font-style: normal;
  font-weight: normal;
  src: url(/fonts/SharpGroteskMedium20-Regular.ttf) format("truetype");
}
